<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head>
        <title>Spring Boot Security Demos.</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>Page that demonstrates Thymeleaf / Spring Security Integration</div>
        <div sec:authorize="isAuthenticated()">
            Logged in as: <span sec:authentication="name">Bob</span>
            <form method="POST" th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/login">Login</a>
        </div>
    </body>
</html>
